################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug/vc140.idb
/Debug/vc140.pdb
/Debug/connect-or-cut.Build.CppClean.log
/Debug
/ipch/CONNECT-OR-CUT-ed9e9b66
*.db
*.opendb
/.vs/connect-or-cut/v14
/cocwin/Debug
/packages/minhook.1.3.3
